.drop{
    margin: 50px;
    width: 200px;
    height: 25px;
}
.text-width{
    width: 200px;
}
.panel-width{
    width:500px;
    height: 400px;
    background-color: aliceblue;
}
.text-size{
    font-size: 30px;
}


.textbox
{
font-size:15px;
height:20px;
width:25px;
}


.img-size
{
    width:200px;
    height: 200px;
}
.main-body
{
    width: 600px;
    height: 500px;
}

.required
{
    color: red;
}
.textbox-size
{
    width: 270px !important;
    height: 30px;
}



